
<div class="small-8 small-offset-2">
  <h1 class="text-center"><%= @bike.color %> Leaderboard</h1>

  <table>
    <thead>
      <tr>
        <th>Place</th>
        <th>User</th>
        <th>Time</th>
        <th>Bike</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @laps.each_with_index do |lap, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to(User.find(lap.user_id).username, user_path(lap.user_id)) %></td>
          <td><%= lap.formatted_time.round(2) %></td>
          <td><%= Bike.find(lap.bike_id).color %></td>
          <td><%= lap.created_at.strftime("%m/%d/%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', :root %>
</div>
