<h1>Leaderboard</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Time</th>
      <th>Bike</th>
    </tr>
  </thead>

  <tbody>
    <% @laps.each do |lap| %>
      <tr>
        <td><%= User.find(lap.user_id).username %></td>
        <td><%= lap.formatted_time %></td>
        <td><%= Bike.find(lap.bike_id).color %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', :root %>
