<h1>Welcome To Pardot Mini Moto<h1>
  <br/>
    <div>
      <a type="button" href="/users/new">Add Username</a>
    </div>
  <br/>
    <div>
      <a type="button" href="/laps/new">Record Lap Time</a>
    </div>
  <br/>
    <div>
      <a type="button" href="/laps">All Laps</a>
    </div>
  <br/>
    <div>
      <a type="button" href="/leaderboard">Go To Leaderboard</a>
    </div>
