<div class="top-bar">
  <div class="top-bar-title">
    <!-- <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <span class="menu-icon dark" data-toggle></span>
    </span> -->
    <!-- <strong>Pardot Mini Moto GP</strong> -->
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/laps/new">Record Lap Time</a></li>
        <li><a href="/laps">All Laps</a></li>
        <li><%= link_to "Unclaimed Laps", unclaimed_laps_path %> </li>
        <li><%= link_to "Leaderboards", leaderboard_list_path %> </li>
        <li><a href="/leaderboard">Overall Leaderboard</a></li>
      </ul>
    </div>
  </div>
</div>
